.banner {
 width: 100%;
 height: 25rem;
 object-fit: cover;
}

.container {
  padding: 5rem 0 5rem 0;
  max-width: 700px;
  margin: 0 auto;
}

.title{

  margin-bottom: 4rem;

  h1{
    font-size: 3rem;
    font-weight: 700;
    color: var(--gray-100);
    padding: 5px 0 5px 0;
    margin-bottom: 16px;
  }

  span {
    color: var(--gray-500);
    margin-right: 24px;
    font-size: 0.875rem;
    font-weight: 400;
  }

  p {
    margin-top: 1rem;
    font-size: 0.867rem;
    font-weight: 400;
    font-style: italic;
    color: var(--gray-500);
  }
}

.content {

  margin-bottom: 48px;

  h1{
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--gray-100);
    padding: 5px 0 5px 0;
    margin-bottom: 24px;
    line-height: 50px;
  }

  article{
    color: var(--gray-400);
    font-size: 1.125rem;
    font-weight: 400;
    margin-bottom: 24px;
    line-height: 25px;
    text-align: justify;

    p {
      margin: 1.5rem 0;
    }

    strong {
      font-weight: 700;
    }
  }
}

.exitPreviewButton {
  width: 100%;
  background-color: var(--gray-100);
  color: #111111;
  font-weight: 600;
  font-size: 1.125rem;
  display: block;
  text-align: center;
  padding: 20px 0 20px 0;
  margin-top: 5rem;
  transition: background-color 0.2s;
  border-radius: 0.25rem;
  &:hover {
    background-color: var(--gray-400);
  }
}

.navigationDiv {
  display: flex;
  justify-content: space-between;
  padding: 3.125rem 0 5rem 0;
  border-top: 1px solid var(--gray-400);

  div {
    max-width: 40%;
    h1 {
      font-size: 1.125rem;
      font-weight: 400;
      padding-bottom: 0.5rem;
    }

    p {
      font-size: 1rem;
      color: var(--pink);
      cursor: pointer;
      transition: color 0.2s;
      &:hover {
        color: #FF57ff;
      }
    }
  }
}

@media (max-width: 720px){
  .content{
    padding: 0 10px 0 10px;
  }
}
